 <!-- <h1>adonstreet</h1> -->
    <!--Header section starts here-->
    <section class="top-header sliding-text m-0">
        <div class="container-fluid px-0">
          <div class="scrolling-text-bar d-flex justify-content-end">
            <p class="running-text fw-bold my-0">
              Hoarding Advertising • Pole Kiosk Branding • Vehicle Marketing •
              Wall Painting • Digital LED Screens • Transit Media Advertising
            </p>
          </div>
        </div>
      </section>
      <!-- navbar section start here -->
      <section class="secnav position-sticky z-3 top-0">
        <div class="container-fluid ">
          <div class="row align-items-center">
            <div class="col-md-12 px-0">
              <nav class="navbar navbar-expand-md bg-dark">
                <div class="container">
                  <a class="navbar-brand logo m" href="">
                    <img src="img/logo.svg" alt="" />
                  </a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div
                    class="collapse navbar-collapse justify-content-center"
                    id="navbarNavDropdown"
                  >
                    <ul class="navbar-nav">
                      <li class="nav-item me-3">
                        <a
                          class="nav-link active text-white"
                          aria-current="page"
                          href="index.html"
                          >Home</a
                        >
                      </li>
                      <li class="nav-item me-3">
                        <a class="nav-link text-white" href=" #ourwork"
                          >Our Work
                        </a>
                      </li>
                      <li class="nav-item me-3 dropdown">
                        <a
                          class="nav-link dropdown-toggle text-white"
                          href="#"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          Services
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item text-dark" href="#Hoarding"
                              >Hoarding</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item text-dark"
                              href="#digitalscreen"
                              >Digital Screen</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item text-dark" href="#vehicle-ads"
                              >Vehicle Marketing</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item text-dark" href="#poll-kiosk"
                              >Poll kiosk</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item text-dark"
                              href="#wall-painting"
                              >Wall painting</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item me-3">
                        <a class="nav-link text-white" href="#">Blog</a>
                      </li>
                      <li class="nav-item me-3">
                        <a class="nav-link text-white" href="contct-us.html"
                          >Contact us</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="nav-btn">
                    <a
                      href="sign-in.html"
                      target=""
                      rel=""
                      class="text-decoration-none text-white rounded-2"
                      >Sign In</a
                    >
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </section>
  